<h1>Cuisines</h1>
<div id="browse" style="display: block">
  <h3>Browse Cuisines</h3>
  <a class="new-btn" href="#" onclick="addRecord()">New</a>
  <table>
    <tr>
      {{!-- <th><a href="#" onclick="addRecord()">New</a></th> --}}
      <th class="text-center">ID</th>
      <th class="text-left">Name</th>
    </tr>
    {{#each cuisines}}
    <tr>
      <td class="text-center">{{cuisine_ID}}</td>
      <td class="text-left">{{cuisine_name}}</td>
      <td><a href="#" onclick="updateRecord({{cuisine_ID}})">Edit</a></td>
      <td><a href="#" onclick="deleteCuisine({{cuisine_ID}})">Delete</a></td>
    </tr>
    {{/each}}
  </table>
</div> <!-- browse -->

<div id="insert" style="display: none">
  <h3>Add Cuisine</h3>
  <div class="formDiv">
    <form class="formContainer" id="addCuisine">
      <div class="formInputContainer">
        <label for="Name" class="formInputLabel adjustWidth">Name:</label>
        <div class="formInputElement">
          <input type="text" id="cuisineName" name="cuisineName" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="addCuisine" value="Add">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form>
  </div>
</div><!-- insert -->

<div id="updateRecord" style="display: none">
  <h3>Update Cuisine</h3>
  <div class="formDiv">
    <form class="formContainer" id="updateCuisine">
      <div class="formInputContainer">
        <label for="ID" class="formInputLabel adjustWidth">ID:</label>
        <div class="formInputElement">
          <input type="text" id="cuisineID" name="cuisineID" class="formInput" disabled>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Name" class="formInputLabel adjustWidth">Name:</label>
        <div class="formInputElement">
          <input type="text" id="cuisineName" name="cuisineName" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="UpdateSaveCuisine" value="Update">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form> 
  </div>
</div><!-- update -->

<div id="deleteRecord" style="display: none">
  <h3>Delete Cuisine</h3>
  <div class="formDiv">
    <form class="formContainer" id="deleteCuisine">
      <div class="formInputContainer">
        <label for="ID" class="formInputLabel adjustWidth">ID:</label>
        <div class="formInputElement">
          <input type="text" id="cuisineID" name="cuisineID" class="formInput" disabled>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Name" class="formInputLabel adjustWidth">Name:</label>
        <div class="formInputElement">
          <input type="text" id="cuisineName" name="cuisineName" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="DeleteCuisine" value="Delete">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form> 
  </div>
</div><!-- delete -->
