<div class="homePageContent centerContainer">
    <h1>
        Welcome to The Whole Enchilada!
    </h1>
    <p>Our goal is to provide you with an organized list of recipes!</p>
    <p>To get started click the Recipes tab.</p>
    <h2>¡Buen provecho!</h2>
    <p></p>
    <h3 class="nomargin-bottom">Pages:</h3>
    <p class="nomargin">Recipes</p>
    <p class="nomargin">Ingredients</p>
    <p class="nomargin">Cooked Recipes</p>
    <p class="nomargin">Cusines</p>
    <p class="nomargin">Reviews</p>
</div>