<div class="homePageContent centerContainer">
    <h1>
        Welcome to The Whole Enchilada!
    </h1>
    <p>Our goal is to provide you with an organized list of recipes!</p>
    <p>To get started click the Recipes tab.</p>
    <h2>¡Buen provecho!</h2>

</div>