<h1>Ingredients</h1>
<div id="browse" style="display: block">
<h3>Browse Ingredients</h3>
<a class="new-btn" href="#" onclick="addRecord()">New</a>
<table>
  <tr>
    {{!-- <th class="text-center"><a href="#" onclick="addRecord()">New</a></th> --}}
    <th class="text-center">ID</th>
    <th class="text-left">Name</th>
    <th class="text-right">Cost (per gram)</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Chicken</td>
    <td>0.00904761904</td>
    <td><a href="#" onclick="updateRecord('this.ID')">Edit</a></td>
    <td><a href="#" onclick="deleteRecord('this.ID')">Delete</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Olive Oil</td>
    <td>0.0196</td>
    <td><a href="#" onclick="updateRecord('this.ID')">Edit</a></td>
    <td><a href="#" onclick="deleteRecord('this.ID')">Delete</a></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Egg</td>
    <td>0.5</td>
    <td><a href="#" onclick="updateRecord('this.ID')">Edit</a></td>
    <td><a href="#" onclick="deleteRecord('this.ID')">Delete</a></td>
  </tr>
  <tr>
    <td>4</td>
    <td>Avocado</td>
    <td>0.00275</td>
    <td><a href="#" onclick="updateRecord('this.ID')">Edit</a></td>
    <td><a href="#" onclick="deleteRecord('this.ID')">Delete</a></td>
  </tr>
  <tr>
    <td>5</td>
    <td>Pita Bread</td>
    <td>0.02645549304</td>
    <td><a href="#" onclick="updateRecord('this.ID')">Edit</a></td>
    <td><a href="#" onclick="deleteRecord('this.ID')">Delete</a></td>
  </tr>
</table>
</div> <!-- browse -->

<div id="insert" style="display: none">
  <h3>Add Ingredient</h3>
  <div class="formDiv">
    <form class="formContainer" id="addIngredient">
      <div class="formInputContainer">
        <label for="Name" class="formInputLabel">Name:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientName" name="ingredientName" class="formInput">
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Cost" class="formInputLabel">Cost (per gram):</label>
        <div class="formInputElement">
          <input type="number" id="ingredientCost" name="ingredientCost" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="addIngredient" value="Add">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form>
  </div>
</div><!-- insert -->

<div id="updateRecord" style="display: none">
  <h3>Update Ingredient</h3>
  <div class="formDiv">
    <form class="formContainer" id="updateIngredient">
      <div class="formInputContainer">
        <label for="ID" class="formInputLabel">ID:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientID" name="ingredientID" class="formInput" disabled>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Name" class="formInputLabel">Name:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientName" name="ingredientName" class="formInput">
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Cost" class="formInputLabel">Cost (per gram):</label>
        <div class="formInputElement">
          <input type="number" id="ingredientCost" name="ingredientCost" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="UpdateSaveIngredient" value="Update">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form> 
  </div>
</div><!-- update -->

<div id="deleteRecord" style="display: none">
  <h3>Delete Ingredient</h3>
  <div class="formDiv">
    <form class="formContainer" id="deleteIngredient">
      <div class="formInputContainer">
        <label for="ID" class="formInputLabel">ID:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientID" name="ingredientID" class="formInput" disabled>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Name" class="formInputLabel">Name:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientName" name="ingredientName" class="formInput" disabled>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Cost" class="formInputLabel">Cost (per gram):</label>
        <div class="formInputElement">
          <input type="number" id="ingredientCost" name="ingredientCost" class="formInput" disabled>
        </div>
      </div>
      <input class="buttons" type="submit" id="UpdateSaveIngredient" value="Delete">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form> 
  </div>
</div><!-- delete -->
