<main>
    <div class="recipes-all-content">
        <div id="recipes-filter-container">
            <h2>Filters</h2>

            <div class="filter-input-container">
                <label for="filter-text" class="filter-input-label">Text</label>
                <div class="filter-input-element">
                    <input type="text" id="filter-text" class="filter-input">
                </div>
            </div>

            <div class="filter-input-container">
                <label for="filter-cuisine" class="filter-input-label">Cuisine</label>
                <div class="filter-input-element">
                    <select id="filter-cuisine" class="filter-input" name="filter-cuisine">
                        <option selected value="">Any</option>
                        <option>American</option>
                        <option>Mexican</option>
                        <option>Italian</option>
                        <option>Chinese</option>
                        <option>French</option>
                        <option>Japanese</option>
                    </select>
                </div>
            </div>

           <div class="filter-input-container">
                <label for="filter-rating" class="filter-input-label">Rating</label>
                <div class="filter-input-element">
                    <select id="filter-rating" class="filter-input" name="filter-rating">
                        <option selected value="">Any</option>
                        <option>between 0-1</option>
                        <option>Mexican</option>
                        <option>Italian</option>
                        <option>Chinese</option>
                        <option>French</option>
                        <option>Japanese</option>
                    </select>
                </div>
            </div>

            {{!-- <div class="filter-input-container">
                <label for="filter-rating" class="filter-input-label">Rating</label>
                <div class="filter-input-element checkbox-text">
                    <input type="checkbox" id="filter-1" class="filter-input-checkbox" name="filter-1">
                    <label for="filter-rating-1"> Between 0-1</label><br>
                    <input type="checkbox" id="filter-2" class="filter-input-checkbox" name="filter-2">
                    <label for="filter-rating-2"> Between 1-2</label><br>
                    <input type="checkbox" id="filter-3" class="filter-input-checkbox" name="filter-3">
                    <label for="filter-rating-3"> Between 2-3</label><br>
                    <input type="checkbox" id="filter-4" class="filter-input-checkbox" name="filter-4">
                    <label for="filter-rating-4"> Between 3-4</label><br>
                    <input type="checkbox" id="filter-5" class="filter-input-checkbox" name="filter-5">
                    <label for="filter-rating-5"> Between 4-5</label><br>
                </div>
            </div> --}}

            <div class="filter-input-container">
                <label for="filter-rating" class="filter-input-label">Rating</label>
                <div class="filter-input-element">
                    <div class="checkbox-text">
                        <input type="checkbox" id="filter-1" class="filter-input-checkbox" name="filter-1">
                        <label for="filter-1">Between 0-1</label>
                    </div>
                    <div class="checkbox-text">
                        <input type="checkbox" id="filter-2" class="filter-input-checkbox" name="filter-2">
                        <label for="filter-2">Between 1-2</label>
                    </div>
                    <div class="checkbox-text">
                        <input type="checkbox" id="filter-3" class="filter-input-checkbox" name="filter-3">
                        <label for="filter-3">Between 2-3</label>
                    </div>
                    <div class="checkbox-text">
                        <input type="checkbox" id="filter-4" class="filter-input-checkbox" name="filter-4">
                        <label for="filter-4">Between 3-4</label>
                    </div>
                    <div class="checkbox-text">
                        <input type="checkbox" id="filter-5" class="filter-input-checkbox" name="filter-5">
                        <label for="filter-5">Between 4-5</label>
                    </div>
                </div>
            </div>



            <div class="filter-input-container">
                <div id="updateButtonContainer">
                    <button id="filter-update-button" type="button" class="buttons">Update</button>
                </div>
            </div>

        </div>

        <div id="recipes-column">
            <div class="testimonial-header">
                <h1>Recipes</h1>
            </div>

            <div id="recipes-flex"> {{!-- this will be something to implement with our database --}}
                {{#each recipesData}}
                    {{> single-recipe}}
                {{/each}}
            </div>
        </div>
        <button type="button" id="add-recipe-button"><i class="fas fa-plus"></i></button>
    </div>

    
</main>