<body id = "reviews-page">
<div class="centerContainer" id="browse">
    <h1>Write a Review for your recipe</h1>

    <div class="formDiv">
        <form class="formContainer">
            <div class="formInputContainer">
                <label for="Name" class="formInputLabel adjustWidth">Reviewer Name:</label>
                <div class="formInputElement">
                    <input type="text" id="reviewsName" name="reviewsName" class="formInput">
                </div>
            </div>

            <div class="formInputContainer">
                <label for="Recipe" class="formInputLabel adjustWidth">Recipe Name:</label>
                <div class="formInputElement">
                    <input type="text" id="reviewsRecipe" name="reviewsRecipe" class="formInput">
                </div>
            </div>

            <div class="formInputContainer">
                <label for="Phone" class="formInputLabel adjustWidth">Rating:</label>
                <div class="formInputElement">
                    <input type="number" min="0" max="5" step="0.01" id="reviewsPhone" name="reviewsPhone" class="formInput">
                </div>
            </div>


            {{!-- not included in our database, but maybe something to consider adding --}}
            {{!-- <div class="formInputContainer">
                <label for="Message" class="formInputLabel adjustWidth">Comment:</label>
                <div class="formInputElement">
                    <textarea id="reviewsInput" name="reviewsInput" class="formInput" wrap="soft" rows="4"></textarea>
                </div>
            </div> --}}

            <div class="formInputContainer">
                <div class="formInputElement formInputWidth" id="reviewsButtonContainer">
                    <input type="button" value="Submit" class="buttons" id="reviewsSubmit">
                </div>
            </div>
        </form>
    </div>
    <div>
        <table>
        <tr>
            <th class="text-center">Review ID</th>
            <th class="text-left">Recipe</th>
            <th class="text-left">Reviewer</th>
            <th class="text-left">Date</th>
            <th class="text-left">Rating</th>
        </tr>
        <tr>
            <td class="text-center">1</td>
            <td class="text-left">Breakfast Burrito</td>
            <td class="text-left">Bob</td>
            <td class="text-center">1/20/2025</td>
            <td class="text-center">4</td>
        </tr>
        <tr>
            <td class="text-center">2</td>
            <td class="text-left">Pesto Pasta</td>
            <td class="text-left">Mike</td>
            <td class="text-center">12/31/2024</td>
            <td class="text-center">3</td>
        </tr>
        <tr>
            <td class="text-center">3</td>
            <td class="text-left">Pesto Pasta</td>
            <td class="text-left">Sara</td>
            <td class="text-center">2/2/2025</td>
            <td class="text-center">2</td>
        </tr>
        <tr>
            <td class="text-center">4</td>
            <td class="text-left">BBQ Pizza</td>
            <td class="text-left">Andrew</td>
            <td class="text-center">2/2/2025</td>
            <td class="text-center">5</td>
        </tr>
        <tr>
            <td class="text-center">5</td>
            <td class="text-left">Gyro</td>
            <td class="text-left">Sally</td>
            <td class="text-center">1/2/2025</td>
            <td class="text-center">1</td>
        </tr>
        </table>
    </div>
</div>
</body>