<body id = "reviews-page">
<div class="reviewsContainer">
<h1>Write a Review for your recipe</h1>

<div class="formDiv">
    <form class="formContainer">
        <div class="formInputContainer">
            <label for="Name" class="formInputLabel adjustWidth">Name:</label>
            <div class="formInputElement">
                <input type="text" id="reviewsName" name="reviewsName" class="formInput">
            </div>
        </div>

        <div class="formInputContainer">
            <label for="Email" class="formInputLabel adjustWidth">Recipe:</label>
            <div class="formInputElement">
                <input type="text" id="reviewsEmail" name="reviewsEmail" class="formInput">
            </div>
        </div>

        <div class="formInputContainer">
            <label for="Phone" class="formInputLabel adjustWidth">Rating:</label>
            <div class="formInputElement">
                <input type="text" id="reviewsPhone" name="reviewsPhone" class="formInput">
            </div>
        </div>

        <div class="formInputContainer">
            <label for="Message" class="formInputLabel adjustWidth">Comment:</label>
            <div class="formInputElement">
                <textarea id="reviewsInput" name="reviewsInput" class="formInput" wrap="soft" rows="4"></textarea>
            </div>
        </div>

        <div class="formInputContainer">
            <div class="formInputElement formInputWidth" id="reviewsButtonContainer">
                <input type="button" value="Submit" class="buttons" id="reviewsSubmit">
            </div>
        </div>
    </form>

</div>

</div>
</body>