/* Base Styling */
html, body {
    background-color: #ECE3DA;
    font-family: "Work Sans", sans-serif;
    color: #0E0E2C;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Typography */
h1 {
    color: 181414;
    font-size: 34px;
    font-weight: 700;
    margin: 20px 0;
}

h2 {
    padding: 0px;
    margin: 0px;
}

p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.26px;
}



.filter-buttons {
    margin:10px;
    text-decoration: none;
    color: white;
    background-color: #677100;
    border-radius: 10px;
    border-color:#677100;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.filter-buttons:hover{
    width:auto;
    cursor:pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

#reviews-info a{
    color: #bfabc0;
}

.checkbox-text{
    font-size:smaller
}

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
  }

  #add-recipe-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
  }

  .recipe-input-element {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
  }

  .ingredient-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.remove-ingredient {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#add-ingredient {
    background: green;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
  
  .recipe-input-element > label {
    font-weight: 600;
    flex: 0 1 auto;
    margin-right: 10px;
  }

.modal-label{
    width:120px;
}

  .modal-dialog {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #FFFFFF;
    border-radius: 15px;
  }
  
  .modal-header {
    position: relative;
    padding: 10px 20px;
  }
  
  .modal-header h3 {
    margin: 0;
    font-size: 28px;
  }
  
  #modal-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }
  
  .modal-body {
    padding: 20px;
  }

/* Center page content */
.centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Home Page */
.homePageContent {
    margin-left: 200px;
    margin-right: 200px;
}

/* recipe - all page content */
.recipes-all-content {
    display:flex;
}

.recipe-title{
    color:#9B7B9C;
}

.recipe-ingredients{
    color:#5c568a
}

.recipe-instructions{
    color:#578a56
}

/* recipe Page Filter Styling */
#recipes-filter-container {
    background-color: #3D4547;
    min-width: 200px;
    height: 150px;
    margin: 50px 50px auto 10px;
    border-radius: 5px;
    padding: 20px;
}

#recipes-filter-container h2 {
    margin: 0px;
    color:#ECE3DA;
}

.filter-input-container {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    color:#ECE3DA;
}

.filter-input-element {
    margin: 0 5px;
    flex: 1 1 100%;
    width: 70%;
}

.filter-input-label {
    width: 100px;

}

.filter-input {
    font-size: 14px;
    min-width: 100%;
    margin-left: 3px;
    padding: 3px;
    border-radius: 3px;
}

.filter-input-element {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.checkbox-text {
    display: flex;
    align-items: center;
}

.checkbox-text label {
    margin-left: 5px; 
}

#filter-update-button-container {
    display: flex;
    justify-content: center;
}



/* Hidden Class */
.hidden {
    display: none !important;
}

/* recipes Posts Container */
#recipes-flex {
    display: flex;
    flex-wrap: wrap;
}

/* Single Post Container */
.recipe-post {
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 340px;
    padding: 10px;
    margin: 0 10px 10px;
    background-color: #ECE3DA;
    border-radius: 5px;
}

/* Navbar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #677100;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

#navImg {
    display: flex;
    align-items: center;
    height: 100px; 
    margin-left: 20px;
}

#navImg img {
    height: 100%;
    width: auto; 
    max-width: 250px; 
}

.navbar li {
    float: none;
    margin: 0; 
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 8px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #4f5600;
    height: 100%;
}

.navbar ul {
    justify-content: space-between;
}
.navbar ul .navbar-items {
    display: flex;
    gap: 10px; 
    margin-right: 20px; 
}

/* Input Styling */
.formContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.formInputContainer {
    display: flex;
    width: 100%; 
    margin: 20px 0;
    justify-content: center;
}

.centerForm {
    display: flex;
    align-content: center;
}

.formDiv{
    display:inline-flex;
    background-color: #3D4547;
    border-radius:10px;
    padding-bottom:20px;
    padding-right:30px;
    padding-left:5%;
    margin: auto;
}

.adjustWidth{
    width:20% !important;
}

.formInput {
    width: 60%;
    margin-left: 10px;
    padding: 3px;
    border: 1px solid #3D4547;
    border-radius: 3px;
}

#reviewsInput {
    resize: none;
    width: 80%;
}

input[type=text], select, textarea {
    width: 80%;
}

.formInputElement {
    margin: 0 5px;
    flex: 1 1 100%;
}

.formInputLabel {
    width: 40%;
    color: #ECE3DA;
}

#submitButtonContainer {
    display: flex;
    justify-content: center;
}
#updateButtonContainer {
    display: flex;
    justify-content: center;
}
#reviewsButtonContainer {
    display: flex;
    justify-content: center;
}

/* Buttons Styling */
.buttons {
    flex-shrink: 0;
    padding: 4px;
    border-radius: 5px;
    background: #ECEAEB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttons:hover {
    background: #C67E10;
    color: #FFFFFF;
}
input[type=submit]:hover {
    background: #C67E10;
    color: #FFFFFF;
}
input::file-selector-button:hover {
    background: #C67E10;
    color: #FFFFFF;
}


table {
    border: none;
    margin-top: 20px;
    margin-left: 20px;
}

td, th {
    padding: 5px;
}

table a {
    text-decoration: none;
    border: 1px solid #677100;
    padding: 3px 7px;
    color: white;
    background-color: #677100;
    border-radius: 10px;
    margin: auto;
    display: block;
}

.new-btn {
    text-decoration: none;
    border: 1px solid #677100;
    padding: 3px 15px;
    color: white;
    background-color: #677100;
    border-radius: 10px;
}

table .text-left {
    text-align: left;
}
table .text-right {
    text-align: right;
}
table .text-center {
    text-align: center;
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

#browse h2, #insert h2, #updateRecord h2, #deleteRecord h2 {
    margin-bottom: 20px;
}

.nomargin {
    margin: 0px;
}
.nomargin-bottom {
    margin-bottom: 0px;
}